/* body styling */
body {
  letter-spacing: 0.1em;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  background-color: #0f2667;
}

.hero-image {
  background-image: url("The Doge Runner header.jpg");
  width: 1200px; /* 1200 et 569 */
  height: 569px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#gameContainer{
  padding-top: 534px; /* 534 */
}

.instructions{
  font-size: 14px;
  color: #b5c0e8;
}

#instructionsBlock{
  margin-top: 60px;
  background-color: rgba(117, 190, 218, 0.1);
  padding: 20px;
}

#footer {
  position:fixed;
  bottom:0;
  padding: 10px;
  margin-left: 20px;
  color: white;
}

/* animation and obstacles */
.game{
  width: 600px;
  height: 200px;
  border-bottom: 3px solid #080808;
  margin: auto;
  padding: 20px;
}

#dino{
  width: 50px;
  height: 41px;
  background-image: url(doge-runner-sprite.png);
  position: relative;
  top: 180px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 179px;
  }

  30%{
    top: 120px;
  }

  50%{
    top: 80px;
  }

  80%{
    top: 120px;
  }

  100%{
    top: 179px;
  }
}


.obstacle1 {
  width: 20px;
  height: 25px;
  position: relative;
  top : 150px;
  left: 580px;

  background-image: url("obstacle1.png");
  animation: block 1.3s infinite linear;
}

#score {
  position: relative;
  font-size: 20px;
  top: 20px;
  text-align: left;
  width: 380px;
  margin: auto;
  letter-spacing: 0.08em;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  padding-left: 22px;
  padding: 12px;
}


@keyframes block {
  0% {
    left : 580px;
  }
  100% {
    left : -20px;
  }
}
